<div class="footer-back-top">
  <div class="footer-back_text">
    Back to top
  </div>
  <div class="footer-back_arrow">
   <img src="{{ 'Up-chevron_small_new.png' | file_img_url }}" width="100%" height="100%" alt="back to top arrow">
 </div>
 </div>