<div class="page-width insta-header">
  <h3 class="title">Follow us on instagram</h3>
</div>
<script src="https://widget.reviews.co.uk/instagram-photo/dist.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://widget.reviews.co.uk/instagram-photo/dist.css">

<div class="page-width insta-feed-wrap">
<div id="instagram-photo-widget"></div>
  <a class="button insta-button" href="https://www.instagram.com/mihenna.bodyart/" target="_blank">@mihenna.bodyart<img src="https://cdn.shopify.com/s/files/1/0299/6941/6328/files/External_Link.png?v=1702287887" class="instalink-img" alt="instagram-icon"></a>
</div>

<script>
  instagramPhotoWidget('instagram-photo-widget', {
    store: 'mi-henna',
    layout: 'slider',
    sliderToggleControls: true,
    sliderCellSize: '5',
    commentFontFamily: 'Times New Roman, serif',
    commentFontWeight: 'normal',
    commentFontStyle: 'bold',
    accentFontFamily: 'Helvetica Neue, Helvetica, Arial, sans-serif',
    accentFontWeight: 'bold',
    accentFontStyle: 'normal',
    hoverButtonLabel: 'Shop Now',
    hoverButtonStyle: 'border',
    hoverButtonPadding: '7px',
    hoverButtonBorderSize: '2px',
    hoverBackgroundColor: 'rgba(0,0,0,0.8)',
    hoverTextColor: 'rgba(255,255,255,1)',
    hoverShowIcon: true,
    hoverShowDate: false,
    hoverShowButton: true,
    hoverShowText: false,
    hoverShowUsername: false,
    hoverShowRatingStars: true,
    hoverRatingStarColor: '#F98D3F',
    hoverMargin: '0px',
    modalShowText: true,
    modalShowDate: true,
    modalShowShareIcons: true,
    modalShowRatingStars: true,
    modalButtonStyle: 'button',
    modalButtonLabel: 'Shop now',
    modalButtonBorderColor: '#414141',
    modalButtonColor: '#222222',
    modalButtonTextColor: '#ffffff',
    modalButtonPadding: '7px',
    modalButtonBorderSize: '3px',
    modalButtonEnableHover: false,
    modalButtonTarget: '_blank',
    modalRatingStarColor: '#F98D3F',
    modalOverlayColor: 'rgba(0,0,0,0.7)',
    gridMargin: '0px',
    categories: ''
  });
</script>