<li>
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6692 2.20161C11.364 0.599464 13.636 0.599462 14.3308 2.20161L16.4324 7.04812L21.6911 7.54921C23.4296 7.71487 24.1317 9.87574 22.8226 11.0316L18.8627 14.528L20.0112 19.6842C20.3909 21.3887 18.5527 22.7242 17.0489 21.8364L12.5 19.1508L7.95106 21.8364C6.44728 22.7242 4.60913 21.3887 4.98879 19.6842L6.13725 14.528L2.17739 11.0316C0.868342 9.87574 1.57045 7.71487 3.30887 7.54921L8.56761 7.04812L10.6692 2.20161Z" fill="#14433D"/>
  </svg>
</li>
<li>
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6692 2.20161C11.364 0.599464 13.636 0.599462 14.3308 2.20161L16.4324 7.04812L21.6911 7.54921C23.4296 7.71487 24.1317 9.87574 22.8226 11.0316L18.8627 14.528L20.0112 19.6842C20.3909 21.3887 18.5527 22.7242 17.0489 21.8364L12.5 19.1508L7.95106 21.8364C6.44728 22.7242 4.60913 21.3887 4.98879 19.6842L6.13725 14.528L2.17739 11.0316C0.868342 9.87574 1.57045 7.71487 3.30887 7.54921L8.56761 7.04812L10.6692 2.20161Z" fill="#14433D"/>
  </svg>
</li>
<li>
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6692 2.20161C11.364 0.599464 13.636 0.599462 14.3308 2.20161L16.4324 7.04812L21.6911 7.54921C23.4296 7.71487 24.1317 9.87574 22.8226 11.0316L18.8627 14.528L20.0112 19.6842C20.3909 21.3887 18.5527 22.7242 17.0489 21.8364L12.5 19.1508L7.95106 21.8364C6.44728 22.7242 4.60913 21.3887 4.98879 19.6842L6.13725 14.528L2.17739 11.0316C0.868342 9.87574 1.57045 7.71487 3.30887 7.54921L8.56761 7.04812L10.6692 2.20161Z" fill="#14433D"/>
  </svg>
</li>
<li>
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6692 2.20161C11.364 0.599464 13.636 0.599462 14.3308 2.20161L16.4324 7.04812L21.6911 7.54921C23.4296 7.71487 24.1317 9.87574 22.8226 11.0316L18.8627 14.528L20.0112 19.6842C20.3909 21.3887 18.5527 22.7242 17.0489 21.8364L12.5 19.1508L7.95106 21.8364C6.44728 22.7242 4.60913 21.3887 4.98879 19.6842L6.13725 14.528L2.17739 11.0316C0.868342 9.87574 1.57045 7.71487 3.30887 7.54921L8.56761 7.04812L10.6692 2.20161Z" fill="#14433D"/>
  </svg>
</li>
<li>
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6692 2.20161C11.364 0.599464 13.636 0.599462 14.3308 2.20161L16.4324 7.04812L21.6911 7.54921C23.4296 7.71487 24.1317 9.87574 22.8226 11.0316L18.8627 14.528L20.0112 19.6842C20.3909 21.3887 18.5527 22.7242 17.0489 21.8364L12.5 19.1508L7.95106 21.8364C6.44728 22.7242 4.60913 21.3887 4.98879 19.6842L6.13725 14.528L2.17739 11.0316C0.868342 9.87574 1.57045 7.71487 3.30887 7.54921L8.56761 7.04812L10.6692 2.20161Z" fill="#14433D"/>
  </svg>
</li>